<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
{{#if stories}}
<p>Here are your stories</p>
      <table class="striped">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              {{#each stories}}
                 <tr>
                     <td><a href="/stories/{{_id}}">{{title}}</a></td>
                     <td>{{formatDate createAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                     <td><span class="dash-status">{{status}}</span></td>
                     <td><a href="/stories/edit/{{_id}}" class="btn btn-float">
                       <i class="fas fa-edit"></i>
                       </a>
                     </td>
                     <form action='/stories/{{_id}}' method="POST" id="delete-form">
                     <input type="hidden" name="_method" value="DELETE">

                     <button type="submit" class="btn red">
                         <i class="fas fa-trash"></i>
                     </button>
                     </form>
                 </tr>
              {{/each}}
          </tbody>
      </table>
{{else}}
<p>No stories created yet</p>
{{/if}}