<h3>StoryBooks</h3>
<div class="section">
    <div class="lead">Create public and private stories from your life</div>
</div>
<div class="divider"></div>
<div class="section">
    <a href='/auth/google' class='btn red darken-1'>
    Login with google
    </a>
</div>