<h1>Stories</h1>
<div class="row">
    {{#each stories}}
       <div class="col s12 m4">
           <div class="card">
               <div class='card-image'>
                   {{!-- triple braces to parse html on handlebars --}}
                   {{{editIcon user ../user _id }}} 
               </div>
               <div class='card-content center-align'>
                   <h5>{{title}}</h5>
                   <p>{{stripTags (truncate body 150)}}</p>
                   <br>
                   <div class='chip'>
                       <img src="{{user.image}}" alt="image">
                       <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                   </div>
               </div>
               <div class="card-action center-align">
                   <a href="/stories/{{_id}}" class="btn grey">Read more</a>
               </div>
           </div>
       </div>
       {{else}}
            <p>No Stories to display</p>
    {{/each}}
</div>